@media (min-width: 743px){

    .text-on-scroll {
        color: #000 !important;
    }

    .text-on-scroll:hover {
        background-color: rgba(190,190,190,0.15) !important;
    }

    .border-on-scroll {
        border: 1px solid #bebebe;
    }

    .account-settings {
        display: flex;
        height: 100%;
        margin-right: 3%;
    }

    .host-text {
        font-family: "Circular";
        font-size: 15px;
        font-weight: bold;
        color: #fff;
        margin: auto 0;
        padding: .83rem 1rem;
        border-radius: 2.5rem;
        letter-spacing: -0.02rem;
    }

    .host-text:hover {
        background-color: rgba(255,255,255,0.15);
    }

    .globe-icon-div {
        /* position: absolute; */
        margin: auto;
    }

    .globe-icon {
        position: relative;
        font-size: .9rem;
        margin: auto;
        right:12%;
        padding: .95rem 1rem;
        border-radius: 2rem;

    }

    .globe-icon:hover {
        background-color: rgba(255,255,255,0.15);
        cursor: pointer;
    }

    .user-account {
        margin: auto;
        background-color: #fff;
        border-radius: 2rem;
        cursor: pointer;
    }

    .span-icon {
        vertical-align: middle;
    }

    .burger-menu-icon {
        margin: .8rem auto;
        margin-right: .5rem;
        margin-left: .8rem;
        color: #000;
    }

    .user-icon {
        font-size: 1.2rem;
        padding: .4rem;
        margin: auto .5rem;
        border-radius: 1rem;
        background-color: #717171;
    }
}

@media (min-width: 1128px) {
    .account-settings {
        margin-right: 5%;
    }
}