.card-container {
    display: flex;
    justify-content:space-between;
    width:100%;
    /* border: 2px solid red; */
}
.card-img {
    display:flex;
    height: auto;
    z-index:20;
}

.image {
    width:100%;
    border-top-left-radius: .8rem;
    border-top-right-radius: .8rem;
    /* padding: 0; */
}

.text-container {
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    background-color: #000;
    color:#fff;
}

.text-component {
    /* display: flex; */
    padding: 0 1rem;
    padding-top: 2rem;
    font-family: 'Circular';
    padding-bottom: 7rem;
}

.location {
    width:inherit;
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.distance {
    font-size: 1.2rem;
}