.discover-headline {
    font-family: "Circular";
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

.discover-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(max-content, auto);
    column-gap: 1.5rem;
}

.experiences {
    display: block;
    background-image: url("./images/airbnb-2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    /* padding-bottom: 80%; */
    border-radius: 12px;
    /* width:95%; */
}

.discover-wrapper {
    /* display: flex; */
    /* justify-content: flex-start; */
    margin: 80px;
    color: #fff;
    font-family: "Circular";
    padding-bottom: 80%;
}

.exp-headline {
    font-size: 53px;
    letter-spacing: -0.02em;
    line-height: 60px;
    font-weight: bold;
    width: 60%;
}

.online-experiences {
    background-image: url("./images/airbnb-1.jpg");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position-x: center;
    background-position-y: center;
    border-radius: 12px;
}

.exp-button {
    font-size: 1rem;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 1rem;
    padding: 14px 24px;
}

