.navbar {
    display: none;
    /* position: fixed; */
}
/* 
@media (min-width: 1128px) {
    .navbar {
        height: 80px;
    }
} */

@media (min-width: 743px) {
    .navbar {
        position: fixed;
        height: 80px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}