.navbar {
    display: none;
    /* position: fixed; */
    z-index:100;
}

.navbar-on-scroll {
    background-color: #fff;
}

@media (min-width: 743px) {
    .navbar {
        position: fixed;
        height: 80px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}