.navbar {
    display: none;
}

@media (min-width: 1128px) {
    .navbar {
        padding: 14px 5%;
    }
}

@media (min-width: 743px) {
    .navbar {
        position: sticky;
        padding: 14px 5%;
        display: flex;
        justify-content: space-between;

    }
}