.navbar {
    display: none;
}


@media (min-width: 743px){
    .navbar {
        padding: 1rem 5%;
        display: flex;
        justify-content: space-between;
    }

    .airbnb-icon {
        color: #fff;
        font-size: 2.3rem;
        padding-top: 4px;
        padding-right: 4px;
        padding-left: 2px;
    }

    @media (max-width: 1128px) {
        .airbnb-title {
            display: none;
        }   
    }
}

@media (min-width: 1128px) {
    .airbnb-title {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.3rem;
        font-weight: bold;
        color: #fff;
        letter-spacing: -.5px;
        vertical-align: super;
    }
}