
.hosting-wrapper {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2) ), url('./images/host.webp');
    border-radius: 12px;
    background-size: 150%;
    background-position-x: center;
    background-repeat: no-repeat;
    margin-bottom: 6rem;
}

.hosting-child-components {
    padding: 80px;
    font-family: "Circular";
    font-weight: bold;
}

.hosting-container {
    font-size: 6rem;
    line-height: 6rem;
    color: #fff;
    letter-spacing: -0.02em;
    width: 30%;
}

.superhost-button {
    margin-top: 10rem;
}

.ask-button {
    font-size: 1rem;
    font-weight: bold;
    padding: 14px 24px;
    background-color: #fff;
    color: #222222;
    border: 1px solid rgb(187, 181, 181);
    border-radius: 8px;
}