.search-bar-container-on-scroll {
    width: 30%;
    margin: auto;
    cursor:pointer;
}

.search-bar-on-scroll {
    font-family: 'Circular';
    font-size: .8rem;
    font-weight: bold;
    background-color: #fff;
    color: rgb(100, 100, 100);
    display: flex;
    height: 3rem;
    border-radius: 4rem;
    margin: auto;
    border: 1px solid rgba(190,190,190);
}

.search-text-on-scroll {
    font-size: 1rem;
    letter-spacing: -0.05rem;
    margin-top: auto;
    margin-bottom: auto;
}

.search-on-scroll {
    margin-left: auto;
    font-size: .75rem;
    padding: .5rem .6rem;
    background-color: #FF385C;
    border-radius: 2rem;
    color:#fff;
}

.search-icon-on-scroll {
    padding-top: 2px;
}