.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 6rem auto;
    /* grid-template-rows: repeat(6, 1fr); */
    /* row-gap: 2rem; */
}

.col {
    padding-right: 10px;
}

.col-2 {
    padding-left: 10px;
    padding-right: 10px;
}

.support-headline {
    font-weight: bold;
    line-height: 1rem;
}

.subcategories{
    margin-bottom: 14px;
    font-size: .95rem;
}

li {
    list-style-type: none;
}

ul {
    padding: 0;
    list-style-type: none;
}