.wrapper {
    height: 110vh;
    width: 100%;
    background-color: #000;
}

.header-image {
    background-image: url('/assets/header-image-2.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-position: center center; */
    border-radius: 15px;
    margin: auto 5%;
    width: 90%;
    height: 100vh;
    z-index: 10;
}

.partition {
    display: flex;
    height: 65%;
    width: 100%;
}

.header-copywriting {
    margin: 0 auto;
    font-size: 3rem;
    letter-spacing: -0.02rem;
    font-family: 'Circular';
    font-weight: bold;
    text-align: center;
    width: 60%;
}
.button-wrapper {
    position: absolute;
    text-align:center;
    width: inherit;
}

.header-btn {
    font-family: "Circular";
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.3rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    border-radius: 2rem;
    border: 1px solid black;
}

.purple-gradient {
    background: -webkit-linear-gradient(#6F019C, #C6017E);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 743px) {
    .wrapper {
        position: absolute;
        top: 0;
        z-index: -1;
        height: 100vw;
    }
    
    .partition {
        height: 115vw;
    }

    .header-image {
        background-size: 320%;
        background-position-x: center;
        /* background-position-y: center; */
    }

    /* .partition {
        height: 52.5%;
    } */

    .header-copywriting {
        font-size: 1.8rem;
        font-weight: 300;
        width: 70%;
        line-height: 2rem;
        
    }
    .header-btn {
        margin-top: 1.2rem;
        font-size: 1rem;
        padding: .85rem 1.3rem;
        background-color: #fff;
    }
}

@media (min-width: 743px) {
    .header-image {
        background-size: 100%;
    }
}

@media (max-width: 1128px) {
    .header-image {
        width: 100%;
        margin: auto;
        border-radius: 0;
    }

    .partition {
        /* height: 55%; */
    }
}