@media (min-width: 743px) {

    .title-on-scroll {
        color: #FF385C !important;
    }

    .title {
        margin-left: 5%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .title-and-logo-wrapper {
        height: 100%;
        padding-right: 155px;
    }

    .airbnb-icon {
        font-size: 2.3rem;
        padding-right: 4px;
    }

    .airbnb-icon:hover {
        cursor:pointer;
    }

    @media (max-width: 1128px) {
        .airbnb-title {
            display: none;
        }   
    }
}

@media (min-width: 948px) and (max-width: 1128px) {
    .title {
        margin-left: 3%;;
    }
}

@media (min-width: 1128px) {
    .airbnb-title {
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 1.3rem;
        font-weight: bold;
        letter-spacing: -.5px;
        vertical-align: super;
        color: #fff;
    };
    .title-and-logo-wrapper {
        padding-right: 0;
    }
}