body {
    margin: 0;
}

header {
    background-color: #000;
    color: #fff;
}

a {
    text-decoration: none;
}

.padding-on-scroll {
    padding: 5rem;
}

main, footer {
    margin: auto 5%;
    font-family: "Circular";
}
@media (max-width: 743px) {
    header {
        background-color: transparent;
    }
}
