body {
    margin: 0;
}

header {
    background-color: #000;
    color: #fff;
}

.header-transparent {
    background-color: transparent;
}

a {
    text-decoration: none;
}

@media (max-width: 743px) {
    header {
        background-color: transparent;
    }
}
