@font-face {
    font-family: Circular;
    src: url(../assets/Circular/CircularStd-Medium.otf);
}

@font-face {
    font-family: Circular;
    font-weight: bold;
    src: url(../assets/Circular/CircularStd-Bold.otf)
}

@font-face {
    font-family: Circular;
    font-weight: light;
    src: url(../assets/Circular/CircularStd-Light.otf);
}